name: Automations - Contagem e Checks

on:
  push:
    branches:
      - main
   

jobs:
  run-on-push:
    name: Ações ao fazer push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git Action
        run: echo "Prova Git action"
